
<html>
<head>
<title>Adding Checking Account Transaction</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script src="/javascripts/libForm.js"></script>
<script src="/javascripts/Add_CheckingAccountTrans.js"></script>

<LINK REL=STYLESHEET TYPE="text/css" HREF="/stylesheets/style.css">

</head>

<% today = Date.today %>

<body bgcolor="#FFFFFF" onLoad="">

<form NAME="new_cvcb_trans" method="post" action="create">

  <p>Adding a transaction to the check register. </p>
  <table width="91%" border="1" height="279">
    <tr>
      <td width="53%">Bank Account CVCB

      </td>
      <td width="47%">&nbsp;</td>
    </tr>
    <tr>
      <td width="53%">Transaction Date 
        <input type="text" name="cvcb[transaction_date]" value="<%= today.to_s %>">&nbsp;<img onClick="toggleDatePicker('daysOfMonth','new_cvcb_trans.cvcb[transaction_date]')" id="daysOfMonthPos" name="daysOfMonthPos" width=19 height=19 src="../images/calendaricon.gif" align=absmiddle border=0 alt="date picker">
<div id="daysOfMonth" style="position:absolute;"></div>
      </td>
      <td width="47%">Clear Date 
        <input type="text" name="cvcb[clear_date]">&nbsp;<img onClick="toggleDatePicker('daysOfMonth','new_cvcb_trans.cvcb[clear_date]')" id="daysOfMonthPos2" name="daysOfMonthPos2" width=19 height=19 src="../images/calendaricon.gif" align="middle" border=0 alt="date picker"><div id="daysOfMonthII" style="position:absolute;"></div>
      </td>
    </tr>
    <tr>
      <td width="53%">Banking Transaction Type
       <select name="cvcb[trans_type]" onChange="validate(this.form.amount, this.form.trans_type)">
       <option value="0"></option>
       <option value="1">CHECK</option>
       <option value="2">DEBIT</option>
       <option value="3">DEPOSIT</option>
       <option value="4">DIRECT DEPOSIT</option>
       <option value="5">CREDIT</option>
       <option value="6">DIRECT DEBIT</option>
       <option value="7">ATM/POS</option>
       <option value="8">ACH</option>
       </select>
      </td>
      <td width="47%">Check or Reference Number 
        <input type="text" name="cvcb[ref_chk]">
      </td>
    </tr>
    <tr>
      <td width="53%">Amount 
        <input type="text" name="cvcb[amount]" onChange="validate(document.forms[0].amount, document.forms[0].trans_type)">
      </td>
      <td width="47%">&nbsp;</td>
    </tr>
    <tr>
      <td width="53%">Payee 
        <input type="text" name="cvcb[payee]">
      </td>
      <td width="47%">&nbsp;</td>
    </tr>
    <tr>
      <td width="53%">Description 
        <input type="text" name="cvcb[description]">
      </td>
      <td width="47%">Account Type 
	  
		<select name="cvcb[account_type]">
		 </option><option>
		 <%= options_for_select(@types, "") %>
		</select>
	  
	  </td>
    </tr>
    <tr>
      <td width="53%">&nbsp;<input type="hidden" value="0" name="cvcb[reconciled]"></td>
      <td width="47%">&nbsp;</td>
    </tr>
    <tr>

      <td width="53%">&nbsp;</td>
      <td width="47%">&nbsp;</td>
    </tr>
  </table>
  <input type="submit" name="Submit" value="Submit" />
</form>
</body>
</html>
