<h1>Editing officeprocedure</h1>

<%= error_messages_for 'officeprocedure' %>
<%= form 'officeprocedure', :action => 'update' %>

<%= link_to 'Show', :action => 'show', :id => @officeprocedure.id %> |
<%= link_to 'Back', :action => 'list' %>
