<% for column in Test.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @test.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @test.id %> |
<%= link_to 'Back', :action => 'list' %>
